@model IEnumerable<SegaSaturn>

<style>
    .all {
     z-index: 1;
     position: fixed;
     max-width:100%;
     width: auto;
     height: auto;
     padding: 10px;
     top: -3%;
     left: -1%;  
     pointer-events: none;
    }
</style>


<div class="all">
    <img src="~/images/background4a.png" />
    
</div>



<h2>Games</h2>




<div style="display: block">
    <!--<a href="/SegaSaturn/InsertProduct/">Create a New Game</a>-->
    <button class="btn btn-primary" onclick="window.location.href='/SegaSaturn/InsertProduct/';">
        Create a New Game
    </button>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Developer</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Number of Players</th>
        <th>Release Date</th>
        <th>Box Art</th>
    </tr>

    @foreach (var game in @Model)
    {
       <tr>
          @if (game.BoxArt == null)
            {
                <td><a href=/SegaSaturn/ViewSegaSaturn/@game.ID>@game.ID</a></td>
                 <td>@game.Name</td>
                <td>@game.Developer</td>
                <td>@game.Publisher</td>
                <td>@game.Genre</td>
                <td>@game.Rating</td>
                <td>@game.NumberOfPlayers</td>
                <td>@game.ReleaseDate</td>
                <td><a href=/SegaSaturn/ViewSegaSatrun/@game.ID><img src="/Images/Default.png"/></a></td>

            }
            else
            {
        
            var base64 = Convert.ToBase64String(game.BoxArt);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            
                <td><a href=/SegaSaturn/ViewSegaSaturn/@game.ID>@game.ID</a></td>
                <td>@game.Name</td>
                <td>@game.Developer</td>
                <td>@game.Publisher</td>
                <td>@game.Genre</td>
                <td>@game.Rating</td>
                <td>@game.NumberOfPlayers</td>
                <td>@game.ReleaseDate</td>
                <td><a href=/SegaSaturn/ViewSegaSaturn/@game.ID><img src="@imgSrc" /></a></td>
            
            }
        </tr>
            

    }

</table>

