@model IEnumerable<SegaSaturn>

<h2>Games</h2>

<div style="display: block">
    <a href="/SegaSaturn/InsertProduct/">Create a New Game</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Developer</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th>Raiting</th>
        <th>Number of Players</th>
        <th>Release Date</th>
        <th>Box Art</th>
    </tr>

    @foreach (var game in @Model)
    {
            <tr>
            <td><a href=/SegaSaturn/ViewSegaSaturn/@game.ID>@game.ID</a></td>
                <td>@game.Name</td>
                <td>@game.Developer</td>
                <td>@game.Publisher</td>
                <td>@game.Genre</td>
                <td>@game.Raiting</td>
                <td>@game.NumberOfPlayers</td>
                <td>@game.ReleaseDate</td>
                <td>@game.BoxArt</td>
            </tr>
    }

</table>